.country {
  fill: lightgray;
  stroke: white;
  stroke-width: 0.5;
}

.country:hover {
  fill: red
}

.country.selected {
  fill: green
}

.tooltip {
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  display: none;
}

.bar {
  fill: steelblue;
}

.entries{
  display: flex;
  /* justify-content: space-between; */
}

#yearDisplay{
  padding-right: 25px;
}